/*---------------------------HISTORIA ---------------------------*/

/*SECCION GRID*/

.containerH{
    display: grid; 
    grid-template-columns: repeat(4,2fr); 
    grid-template-rows:  4fr 3fr; 
    gap: 10px 10px; 
    justify-content: center;
    grid-template-areas: 
      "video video textos textos"
      "video video textos textos"; 
  }
  
.textosHistoria { 
    grid-area: textos;
    justify-content: center;
    
    width: 600px;
}

.textosHistoria__titulo{
    margin-bottom: 30px;
    margin-top: 50px;
}

.textosHistoria__parrafo{
    text-align: justify;
}

.heladero {
    grid-area: video;
    justify-content: center;
}

.tentate__video{
    margin-top: 50px;
}

/*--TABLET--*/

@media only screen and (max-width: 768px) {
    .containerH {
        display: grid; 
        grid-template-columns: repeat(2,2fr); 
        grid-template-rows: 0.1fr 0.5fr 1fr 0.3fr; 
        gap: 10px 10px; 
        grid-template-areas: 
      "header header"
      "textos textos"
      "video video"
      "footer footer"; 
    }

    .textosHistoria { 
        grid-area: textos;
        justify-content: center;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .textosHistoria__titulo { 
        grid-area: textos;
        text-align: center;
        font-size: 25px;
    }

    .textosHistoria__parrafo{
        font-size: 12px;
        text-align: justify;
    }

    .heladero {
        grid-area: video;
        align-items: center;
    }

    .tentate__video{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/*--SMARTPHONE--*/

@media only screen and (max-width: 767px) {
    .containerH {
        display: grid; 
        grid-template-columns: 2.5fr; 
        grid-template-rows: 0.1fr 0.5fr 0.1fr 0.1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
      "header"
      "textos"
      "video"
      "footer"; 
    }

    .textosHistoria { 
        grid-area: textos;
        justify-content: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .textosHistoria__titulo { 
        grid-area: textos;
        font-size: 15px;
    }

    .textosHistoria__parrafo{
        font-size: 12px;
        text-align: justify;
    }

    .heladero {
        grid-area: video;
        align-items: center;
    }
    
        
    .menu a{
        font-size: 12px;
    }
}



/*BUCLE*/

@for $i from 1 through 6 {
    #imgGal#{$i} { 
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;}
  }





  