/*--------------------------- LOCALES ---------------------------*/

.seccionLocales__subtitulo{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-size: 15px;
    text-align: justify;
    color: black;

}




